*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-md-4 > img
{
    height: 300px;
    width: 300px; 
}

.product-title--logo
{
    height: 30px;
    width: 30px;
}



.product-order--icon > button
{
    height: 100px;
}

.btn
{
    transition: 0.3s ease-out;
}

.btn:hover
{
    transform: scale(1.03);
    color: yellow;
    background-color: green;
}